# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.firebase


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase configuration files
# Estos archivos son generados por Firebase CLI y no deberían ser incluidos en el control de versiones.
firebase.json
.firebaserc
firestore.indexes.json
firestore.rules

# Vite config files
vite.config.js
eslint.config.js