rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas de la parte del SRD
    match /SRD_Backgrounds/{docId}{
      allow read, write;
    }
    match /SRD_Classes/{docId}{
      allow read, write;
    }
    match /SRD_Equipments/{docId}{
      allow read, write;
    }
    match /SRD_Feats/{docId}{
      allow read, write;
    }
    match /SRD_Magic_Items/{docId}{
      allow read, write;
    }
    match /SRD_Monsters/{docId}{
      allow read, write;
    }
    match /SRD_RaceTraits/{docId}{
      allow read, write;
    }
    match /SRD_Races/{docId}{
      allow read, write;
    }
    match /SRD_Rules/{docId}{
      allow read, write;
    }
    match /SRD_Spells/{docId}{
      allow read, write;
    }
    match /SRD_SubClasses/{docId}{
      allow read, write;
    }
    match /SRD_SubRaces/{docId}{
      allow read, write;
    }

    // Reglas de los Usuarios 
    match /Users/{docId}{
      allow read, write;
    }
    
    match /Characters/{docId}{
      allow read, write: if request.auth != null;
    }
  }
}