/* Estilo para el fondo de los modales */
.custom-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    min-width: 500px; /* ancho mínimo */
    max-width: 90vw;   /* que no se pase del viewport */
  }
  
  /* Overlay del modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Hover sobre elementos de lista */
  .list-group-item:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s;
    cursor: pointer;
  }

  .feature-name {
    white-space: nowrap; /* Evita que el texto se envuelva en varias líneas */
    overflow: hidden;    /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega '...' al final si el texto es demasiado largo */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
  }
  
  .feature-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-rounded {
    border-radius: 10px;
  }

  table{
    border-radius: 10px;
  }
  