.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.custom-modal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-height: 90vh; /* limita el alto del modal */
  overflow-y: auto; /* permite scroll en el modal */
  width: 100%;
  max-width: 600px;
}
  
  /* Hover sobre elementos de lista */
  .list-group-item:hover {
    background-color: #f1f1f1;
    transition: background-color 0.2s;
    cursor: pointer;
  }

  .feature-name {
    white-space: nowrap; /* Evita que el texto se envuelva en varias líneas */
    overflow: hidden;    /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega '...' al final si el texto es demasiado largo */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
  }
  
  .feature-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table-rounded {
    border-radius: 10px;
  }

  table{
    border-radius: 10px;
  }
  